body{
padding-top: 0px;
}

#header {
    height: 80px;
    width: 700px;
    background-color: #008b8b;
    margin:3px auto;
}


#content {
    width: 700px;
    margin:3px auto;
}


.tab {
    border: 1px solid black;
    background-color: gainsboro;
    width: 700px;
    margin:3px auto;
}

input {
    margin-top:5px ;
}

p {
    font: 14px Verdana;

}

h2{
    margin-top: 0px;
    padding-top: 20px;
}

th {
    text-align: left;
    font:bold 14px Verdana;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    font:bold 15px Verdana;
    color: midnightblue ;
}

form {
    width: 670px;
    border: 1px solid #cccccc;
    padding: 15px;
}